<%= render 'shared/navbar-session' %>

<div class="wrapper form session top">
  <h1>Changer mon mot de passe</h1>
</div>

<div class="wrapper form session">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

      <h2>Nouveau mot de passe</h2>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "main" %>

      <h2>Confirmer le mot de passe</h2>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "main" %>

      <%= f.submit "Valider", class: "button green connect" %>
  <% end %>
</div>
