<%= render 'shared/navbar-session' %>

<div class="wrapper form session top">
  <h1>Mot de passe oublié ?</h1>
</div>

<div class="wrapper form session">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <h2>Email</h2>
    <%= f.email_field :email, autofocus: true, class: "main" %>

    <%= f.submit "Envoyez-moi les instructions", class: "button green reset" %>
  <% end %>

  <div class="links">
    <%= mail_to "hello@muxumuxu.com", "Email oublié ?" %>
    <span>•</span>
    <%= link_to "Créer un compte", new_user_registration_path %>
  </div>
</div>
