<div class="overlay-modal">
  <div class="modal">
    <h2>Préparez-vous à l'envoi</h2>
    <%= image_tag "launch-illustration.svg" %>
    <p>Vous êtes sur le point d'envoyer votre campagne à :</p>
    <strong><%= @campaign.mailing_list.name if @campaign.mailing_list %></strong>
    <strong><%= @campaign.mailing_list.contacts.count %><%= " destinataires".pluralize(@campaign.mailing_list.contacts.count) %></strong>
    <p class="padded">Le décollage est imminent !</p>

    <%= link_to "Envoyer maintenant", send_now_campaign_path(@campaign), :method => :post, :class => "button green send" %>

    <%= link_to "Annuler", onclick: "closeModal" %>
  </div>
</div>
