<header>
  <div class="left">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "icon.svg", class: "icon"  %>
          <% end %>
        </li>
        <li>
          <% if params[:controller] == 'campaigns' %>
            <%= link_to "Campagnes", campaigns_path, class: "blue-border" %>
          <% else %>
            <%= link_to "Campagnes", campaigns_path %>
          <% end %>
        </li>
        <li>
          <% if params[:controller] == 'mailing_lists' || params[:controller] == 'contacts' %>
            <%= link_to "Listes", mailing_lists_path, class: "blue-border" %>
          <% else %>
            <%= link_to "Listes", mailing_lists_path %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li class="avatar">
          <span class="avatar"><%= current_user.email.capitalize[0] %></span>
          <%= link_to destroy_user_session_path do %>
            <%= current_user.first_name %>
            <%= image_tag "arrow.svg" %>
          <% end %>
        </li>
        <li><%= link_to "Aide", destroy_user_session_path, method: :delete, class: "help" %></li>
      </ul>
    </nav>
  </div>
</header>
