<header>
  <div class="left">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "icon.svg", class: "icon"  %>
          <% end %>
        </li>
        <li>
          <% if params[:controller] == 'campaigns' %>
            <%= link_to "Campagnes", campaigns_path, class: "blue-border" %>
          <% else %>
            <%= link_to "Campagnes", campaigns_path %>
          <% end %>
        </li>
        <li>
          <% if params[:controller] == 'mailing_lists' || params[:controller] == 'contacts' %>
            <%= link_to "Listes", mailing_lists_path, class: "blue-border" %>
          <% else %>
            <%= link_to "Listes", mailing_lists_path %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li class="user-info">
          <span class="avatar"><%= current_user.email.capitalize[0] %></span>
          <span class="email"><%= current_user.email %></span>
          <div class="dropdown">
            <ul>
              <li><a href="#">Mon compte</a></li>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </li>
        <li><%= link_to "Aide", campaigns_path, class: "help" %></li>
      </ul>
    </nav>
  </div>
</header>
