<div class="wrapper preview-top">
  <h1>Votre message est bientôt prêt à partir !</h1>
  <p>Vérifiez les éléments ci-dessous avant de programmer votre envoi.</p>
</div>

<div class="wrapper preview-list">
  <div class="list-item">
    <%= image_tag "green-check.svg" %>
    <h2>Destinataires</h2>
    <p>CampagneSMS will deliver this to the Gironde list. (9 recipients)</p>
    <%= link_to "Modifier", name_campaign_path(@campaign.id), class: "button grey" %>
  </div>
  <div class="list-item">
    <%= image_tag "green-check.svg" %>
    <h2>Contenu</h2>
    <p><%= @campaign.message %></p>
    <%= link_to "Modifier", message_campaign_path(@campaign.id), class: "button grey" %>
  </div>
</div>
