<div class="wrapper preview-top">
  <h1>Votre message est bientôt prêt !</h1>
  <p>Vérifiez les éléments ci-dessous avant de programmer votre envoi.</p>
</div>

<div class="wrapper preview">
  <div class="list-item">
    <%= image_tag "green-check.svg" %>
    <h2>Destinataires</h2>
    <p>Votre message sera envoyé à la liste <%= @campaign.mailing_lists.first.name %> (<%= @campaign.contacts.count %><%= " destinataire".pluralize(@campaign.contacts.count) %>).</p>
    <div class="links">
      <%= link_to "Modifier", name_campaign_path(@campaign.id), class: "button grey" %>
    </div>
  </div>
  <div class="list-item">
    <%= image_tag "green-check.svg" %>
    <h2>Contenu</h2>
    <p><%= @campaign.message %></p>
    <div class="links">
      <%= link_to "Modifier", message_campaign_path(@campaign.id), class: "button grey" %>
    </div>
  </div>
</div>
