<%= render 'shared/navbar-main' %>

<div class="wrapper top show">
  <h1><%= @mailing_list.name %></h1>
  <span><%= @mailing_list.contacts.count %><%= " recipient".pluralize(@mailing_list.contacts.count) %></span>
  <div class="right-links">
    <%= link_to "", new_contact_path(:mailing_list_id => @mailing_list.id), class: "button grey contact" %>
    <%= link_to "Avancée", root_path, class: "button grey" %>
    <%= link_to "Importer un .csv", root_path, class: "button green add import" %>
  </div>
</div>

<div class="wrapper table">
  <table>
    <tr>
      <th>Numéro</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Code postal</th>
      <th>Ajout</th>
      <th>Modification</th>
    </tr>
    <% @mailing_list.contacts.each do |contact| %>
      <tr>
        <td>
          <%= link_to contact_path(:mailing_list_id => @mailing_list.id) do %>
            <%= contact.phone_number %>
          <% end %>
        </td>
        <td>
          <%= link_to contact_path(:mailing_list_id => @mailing_list.id) do %>
            <%= contact.first_name %>
          <% end %>
        </td>
        <td>
          <%= link_to contact_path(:mailing_list_id => @mailing_list.id) do %>
            <%= contact.last_name %>
          <% end %>
        </td>
        <td>
          <%= link_to contact_path(:mailing_list_id => @mailing_list.id) do %>
            <%= contact.zip_code %>
          <% end %>
        </td>
        <td>
          <%= link_to contact_path(:mailing_list_id => @mailing_list.id) do %>
            <%= contact.created_at.strftime("%d %b %Y") %>
          <% end %>
        </td>
        <td>
          <%= link_to contact_path(:mailing_list_id => @mailing_list.id) do %>
            <%= contact.updated_at.strftime("%d %b %Y") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
