<%= render 'shared/navbar-main' %>

<div class="wrapper top show">
  <h1><%= @mailing_list.name %></h1>
  <span><%= @mailing_list.contacts.count %><%= " recipient".pluralize(@mailing_list.contacts.count) %></span>
  <%= link_to "", root_path, class: "button grey contact" %>
  <%= link_to "Importer un .csv", root_path, class: "button green add list" %>
</div>
