<%= render 'shared/navbar-session' %>

<div class="wrapper form session top">
  <h1>Se connecter</h1>
  <h2>Besoin d'un compte sur SMScampaign ? <%= link_to "Créer un compte", new_user_registration_path %></h2>
</div>

<div class="wrapper form session">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>Email</h2>
    <%= f.email_field :email, autofocus: true, class: "main" %>
    <h2>Mot de passe</h2>
    <%= f.password_field :password, autocomplete: "off", class: "main" %>

    <%= f.submit "Se connecter", class: "button green connect" %>

  <div class="wrapper form session checkboxes">
    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <input type="checkbox" id="cbox" value="remember_me">
        <label for="cbox">Se souvenir de moi</label>
      </div>
    <% end %>
  <% end %>
  </div>

  <div class="links">
    <%= mail_to "hello@muxumuxu.com", "Email oublié ?" %>
    <span>•</span>
    <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %>
  </div>
</div>
