<%= render 'shared/navbar-main' %>

<div class="wrapper top list">
  <h1>Vos campagnes SMS</h1>
  <div class="links">
    <%= link_to "Nouvelle campagne de SMS", new_campaign_path, class: "button green add" %>
  </div>
</div>

<% if @campaigns.any? %>

  <div class="wrapper list">
    <% @campaigns.each do |campaign| %>
      <% if campaign.sent_at.blank? %>
        <div class="list-item">
          <%= image_tag "edit.svg" %>
          <%= link_to campaign.name, name_campaign_path(campaign.id), class: "campaign-link" %>
          <p>Liste <%= campaign.mailing_lists.first.name %> (<%= campaign.contacts.count %><%= " destinataires".pluralize(campaign.contacts.count)%>)</p>
          <div class="links">
            <%= link_to "Modifier", name_campaign_path(campaign.id), class: "button grey" %>
          </div>
        </div>
      <% else %>
        <div class="list-item">
          <%= image_tag "green-check.svg" %>
          <%= link_to campaign.name, name_campaign_path(campaign.id), class: "campaign-link" %>
          <p><strong>Envoyé</strong> | Gironde list. (9 recipients)</p>
        </div>
      <% end %>
    <% end %>
  </div>

<% else %>

  <div class="wrapper hero">
    <%= image_tag "hero-icon.svg", class: "illustration" %>
    <h2>Commencez votre première campagne !</h2>
    <%= link_to "Nouvelle campagne de SMS", new_campaign_path, class: "button green add" %>
  </div>

<% end %>
