<%= render 'shared/navbar-main' %>

<div class="wrapper top list">
  <h1>Vos campagnes SMS</h1>
  <div class="right-links">
    <%= link_to "Nouvelle campagne de SMS", new_campaign_path, class: "button green add" %>
  </div>
</div>

<% if @campaigns.any? %>

  <div class="wrapper list">
    <% @campaigns.each do |campaign| %>

      <div class="list-item">

        <% if campaign.sent_at.blank? && campaign.scheduled_at.nil? %>

          <%= image_tag "edit.svg" %>
          <%= link_to campaign.name, name_campaign_path(campaign.id), class: "campaign-link" %>

          <p>
            <% if campaign.mailing_list %>
              <%= campaign.mailing_list.name %> (<%= campaign.mailing_list.contacts.count %><%= " destinataires".pluralize(campaign.mailing_list.contacts.count)%>)
            <% else %>
              Liste supprimée.
            <% end %>
          </p>

          <div class="links">
            <%= link_to "Modifier", name_campaign_path(campaign.id), class: "button grey" %>
          </div>

        <% elsif campaign.scheduled_at.present? && campaign.sent_at.nil? %>

          <%= image_tag "schedule.svg" %>
          <%= link_to campaign.name, name_campaign_path(campaign.id), class: "campaign-link" %>
          <p>
            <strong>Campagne planifiée</strong> au <%= DateTime.parse("#{campaign.scheduled_at}").strftime("%d/%m/%y à %H:%I") %>

            <% if campaign.mailing_list %>
            | <%= campaign.mailing_list.name %> (<%= campaign.mailing_list.contacts.count %><%= " destinataires".pluralize(campaign.mailing_list.contacts.count)%>)</p>
            <% else %>
            |  Liste supprimée.
            <% end %>
          </p>

          <div class="links">
            <%= link_to "Modifier", name_campaign_path(campaign.id), class: "button grey" %>
          </div>

        <% elsif campaign.sent_at.present? %>

          <%= image_tag "green-check.svg" %>
          <%= link_to campaign.name, campaign_path(campaign.id), class: "campaign-link" %>
          <p>
            <strong>Campagne envoyée</strong> le <%= DateTime.parse("#{campaign.sent_at}").strftime("%d/%m/%y à %H:%I") %>
            <% if campaign.mailing_list %>
            | <%= campaign.mailing_list.name %> (<%= campaign.mailing_list.contacts.count %><%= " destinataires".pluralize(campaign.mailing_list.contacts.count)%>)
            <% else %>
            |  Liste supprimée.
            <% end %>
          </p>

        <% end %>

      </div>

    <% end %>

  </div>

<% else %>

  <div class="wrapper hero">
    <%= image_tag "hero-campaign-icon.svg", class: "illustration" %>
    <h2>Commencez votre première campagne !</h2>
    <%= link_to "Nouvelle campagne de SMS", new_campaign_path, class: "button green add" %>
  </div>

<% end %>
