<div class="wrapper message-top">
  <h1>Rédigez votre message</h1>
</div>

<div class="wrapper message">
  <h2>Personnaliser avec :</h2>
  <a href="#">Prénom</a>
  <a href="#">Nom</a>
  <%= form_for @campaign do |f| %>
    <%= f.text_area :message, class: 'main' %>
  <% end %>
  <%= image_tag "iphone.svg" %>
</div>

<div class="bottom fixed">
  <div class="links-left">
    <a onclick="window.history.back()" class="button grey previous">Précédent</a>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Destinataires", campaign_name_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li><%= link_to "Message", message_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive">Valider</li>
    </ul>
  </nav>
  <div class="links-right">
    <input type="submit" form="edit_campaign_<%= @campaign.id %>" class="button green next" value="Suivant">
  </div>
</div>
