
<header class="campaign">
  <div class="left">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "icon.svg", class: "icon"  %>
          <% end %>
        </li>
        <li><%= @campaign.name %></li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li><%= link_to "Aide", root_path, class: "help" %></li>
        <li><%= link_to "Tester", root_path, class: "help" %></li>
        <li><%= link_to "Enregistrer et quitter", root_path, class: "save" %></li>
      </ul>
    </nav>
  </div>
</header>

<%= render 'shared/flashes' %>

<div class="wrapper message-top">
  <h1>Rédigez votre message</h1><span>*</span>
</div>

<div class="wrapper message">
  <h2>Personnaliser avec :</h2>
  <span class="substitute-text" style="cursor: pointer;" onclick="addVariable('Firstname');">Prénom</span>
  <span class="substitute-text" style="cursor: pointer;" onclick="addVariable('Lastname');">Nom</span>
  <%= form_for @campaign do |f| %>
    <%= f.text_area :message, autofocus: true, :onkeyup => "updateCount();", class: 'main', id: 'campaign_textarea' %>
    <span class="characters"></span>
    <%= f.hidden_field :current_step, :value => "step_2" %>
  <% end %>
  <div id="phone">
    <div id="message-bubble"></div>
    <%= image_tag "iphone.svg" %>
  </div>
</div>

<div class="bottom fixed">
  <div class="links-left">
    <a onclick="window.history.back()" class="button grey previous">Précédent</a>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Destinataires", name_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li><%= link_to "Message", message_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive">Résumé</li>
    </ul>
  </nav>
  <div class="links-right">
    <input type="submit" form="edit_campaign_<%= @campaign.id %>" class="button green next" value="Suivant">
  </div>
</div>
