<header class="campaign">
  <div class="left">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "icon.svg", class: "icon"  %>
          <% end %>
        </li>
        <li>Nouvelle campagne</li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li><%= link_to "Aide", root_path, class: "help" %></li>
        <li><%= link_to "Enregistrer et quitter", root_path, class: "save" %></li>
      </ul>
    </nav>
  </div>
</header>

<div class="wrapper form-top">
  <h1>Nouvelle campagne SMS</h1>
</div>

<div class="wrapper form">
  <h2>Quel est le nom de votre campagne ?</h2>
  <%= form_for @campaign do |f| %>
    <%= f.text_field :name, class: 'main' %>
  <% end %>
  <h2>A qui souhaitez-vous envoyer votre SMS ?</h2>
  <input type="text" placeholder="Recherche parmis vos listes de destinataires..." />
  <div class="list-item">
    <select name="select">
      <% @mailing_lists.each do |list| %>
        <option value="#{list.name}"><%= list.name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="bottom fixed">
  <nav>
    <ul>
      <li><%= link_to "Destinataires", name_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive">Message</li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive">Résumé</li>
    </ul>
  </nav>
  <div class="links-right">
    <input type="submit" form="edit_campaign_<%= @campaign.id %>" class="button green next" value="Suivant">
  </div>
</div>
