<header class="campaign">
  <div class="left">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "icon.svg", class: "icon"  %>
          <% end %>
        </li>
        <li><%= t('.title') %></li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li><%= link_to t('campaigns.header.help'), root_path, class: "help" %></li>
        <li>
          <input 
            type="submit" 
            form="edit_campaign_<%= @campaign.id %>" 
            class="save" 
            value="<%= t('campaigns.header.save_n_quit') %>" 
            name="commit">
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="wrapper form-top">
  <h1>Nouvelle campagne SMS</h1>
</div>

<% if @mailing_lists.any? %>

  <div class="wrapper form select name">
    <h2><%= t('.what_name') %></h2><span>*</span>

    <%= form_for @campaign do |f| %>
      <%= f.text_field :name, class: 'main', autofocus: true, onfocus: "this.value = this.value;", value: @campaign.name, id: 'campaign_name' %>

      <h2><%= t('.recipients') %></h2><span>*</span>

      <input type="text" placeholder="<%= t('.search') %>" />

      <ul id="new_campaign_mailing_lists">
        <% @mailing_lists.each do |list| %>
          <li>
            <%= f.radio_button :mailing_list, list.id, checked: @campaign.mailing_list && @campaign.mailing_list.id == list.id, id: list.name %>
            <label for="<%= list.name %>">
              <%= list.name %>
              <span><%= list.contacts.count %>&nbsp;<%= t('campaigns.index.recipient_sent', :count => list.contacts.count) %></span>
            </label>
            <div class="check"><div class="inside"></div></div>
          </li>
        <% end %>
      <ul>
      <%= f.hidden_field :current_step, :value => "step_1" %>
    <% end %>
  </div>

<% else %>

    <div class="wrapper form no-list">
      <%= image_tag 'hero-campaign-icon.svg', class: 'illustration' %>

      <h2><%= t('campaigns.helper.title') %></h2>

      <%= link_to t('campaigns.helper.new_mailing_list') %>, new_mailing_list_path, class: 'button green add list' %>
    </div>

<% end %>

<div class="bottom fixed">
  <nav>
    <ul>
      <li><%= link_to t('campaigns.footer.recipients'), name_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive"><%= t('campaigns.footer.message') %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive"><%= t('campaigns.footer.summary') %></li>
    </ul>
  </nav>
  <% if @mailing_lists.any? %>
    <div class="links-right">
      <input type="submit" id="submit-campaign" form="edit_campaign_<%= @campaign.id %>" class="button inactive green next" value="<%= t('campaigns.footer.next') %>" name="commit" disabled>
    </div>
  <% end %>
</div>
