<div class="wrapper form-top">
  <h1>Nouvelle campagne SMS</h1>
</div>

<div class="wrapper form">
  <h2>Quel est le nom de votre campagne ?</h2>
  <%= form_for @campaign do |f| %>
    <%= f.text_field :name, class: 'main' %>
  <% end %>
  <h2>A qui souhaitez-vous envoyer votre SMS ?</h2>
  <%= form_for @campaign do |f| %>
    <%= f.text_field :name, placeholder: "Recherche parmis vos listes de destinataires..." %>
  <% end %>
  <div class="list-item">
    <select name="select">
      <% @mailing_lists.each do |list| %>
        <option value="#{list.name}"><%= list.name %></option>
      <% end %>
    </select>
  </div>
</div>



<div class="bottom">
  <nav>
    <ul>
      <li><%= link_to "Destinataires", root_path, class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive">Message</li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive">Valider</li>
    </ul>
  </nav>
  <input type="submit" form="new_campaign" class="button green">
    <p>Suivant</p>
</div>
