<%= render 'shared/preview-content' %>

<div class="bottom fixed">
  <div class="links-left">
    <a onclick="window.history.back()" class="button grey previous">Précédent</a>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Destinataires", campaign_name_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li><%= link_to "Message", message_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li><%= link_to "Valider", preview_campaign_path(@campaign.id), class: "current" %></li>
    </ul>
  </nav>
  <div class="links-right">
    <input type="submit" form="campaigns_new_message" class="button grey plan" value="Planifier">
    <input type="submit" form="campaigns_new_message" class="button green send" value="Envoyer">
  </div>
</div>
