<header class="campaign">
  <div class="left">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag 'icon.svg', class: 'icon'  %>
          <% end %>
        </li>
        <li><%= @campaign.name %></li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li><%= link_to t('campaigns.header.help'), root_path, class: 'help' %></li>
        <li><%= link_to t('campaigns.header.test'), root_path, class: 'help' %></li>
        <li><%= link_to t('campaigns.header.save_n_quit'), root_path, class: 'save' %></li>
      </ul>
    </nav>
  </div>
</header>

<div class="wrapper preview-top">
  <h1><%= t('.soon_ready') %></h1>
  <p><%= t('.verify') %></p>
</div>

<div class="wrapper preview">
  <div class="list-item">
    <%= image_tag 'green-check.svg' %>
    <h2><%= t('.recipients') %></h2>
    <p><%= t('.sent_to_list') %> <%= @campaign.mailing_list.name %> (<%= @campaign.mailing_list.contacts.count %>&nbsp;<%= t('campaigns.index.recipient_sent', :count => @campaign.mailing_list.contacts.count) %>).</p>
    <div class="links">
      <%= link_to t('.udpate'), name_campaign_path(@campaign.id), class: 'button grey' %>
    </div>
  </div>
  <div class="list-item">
    <%= image_tag 'green-check.svg' %>
    <h2>Contenu</h2>
    <p class="message"><%= @campaign.message %></p>
    <div class="links">
      <%= link_to t('.udpate'), message_campaign_path(@campaign.id), class: 'button grey' %>
    </div>
  </div>
</div>

<div class="wrapper schedule">
  <div class="top">
    <%= image_tag 'time.svg' %>
    <h2><%= t('.schedule') %></h2>
    <p><%= t('.send_date') %></p>
  </div>

  <div class="content">

  <%= form_for @campaign, :url => url_for(controller: 'campaigns', action: 'schedule'), method: 'post' do %>
    <input type="hidden" name="campaign[current_step]" value="step_3" />
    <input data-toggle="datepicker" name="campaign[scheduled_at]" class="main date" placeholder="<%= t('.select_date') %>" value="<%= @day %>">
    <p><%= t('.send_hour') %></p>
    <input type="number" name="campaign[start_hour]" min="0" max="23" class="main time" placeholder="13" value="<%= @start_hour %>" />
    <span>:</span>
    <input type="number" name="campaign[start_min]" min="0" max="59" class="main time" placeholder="15" value="<%= @start_min %>" />
    <span id="user_timezone"></span>
    <input type="hidden" id="campaign[tz]" name="campaign[tz]" value="" />
  <% end %>

  </div>
</div>

<div class="wrapper schedule links">
  <input type="submit" form="edit_campaign_<%= @campaign.id %>" class="button green schedule" value="<%= t('.schedule_campaign') %>">
  <a href="<%= preview_campaign_path(@campaign) %>" class="cancel"><%= t('.cancel') %></a>
</div>

<div class="bottom fixed">
  <div class="links-left">
    <a onclick="window.history.back()" class="button grey previous"><%= t('campaigns.footer.previous') %></a>
  </div>
  <nav>
    <ul>
      <li><%= link_to t('campaigns.footer.recipients'), name_campaign_path(@campaign.id), class: 'current' %></li>
      <li><%= image_tag 'grey-arrow-right.svg' %></li>
      <li><%= link_to t('campaigns.footer.message'), message_campaign_path(@campaign.id), class: 'current' %></li>
      <li><%= image_tag 'grey-arrow-right.svg' %></li>
      <li><%= link_to t('campaigns.footer.summary'), preview_campaign_path(@campaign.id), class: 'current' %></li>
    </ul>
  </nav>
</div>
