<header class="campaign">
  <div class="left">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "icon.svg", class: "icon"  %>
          <% end %>
        </li>
        <li><%= @campaign.name %></li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li><%= link_to "Aide", root_path, class: "help" %></li>
        <li><%= link_to "Tester", root_path, class: "help" %></li>
        <li><input type="submit" form="edit_campaign_<%= @campaign.id %>" class="save" value="Enregistrer et quitter" name="commit"></li>
      </ul>
    </nav>
  </div>
</header>

<%= render 'shared/preview-content' %>

<div class="wrapper schedule">
  <div class="top">
    <%= image_tag "time.svg" %>
    <h2>Planifier</h2>
    <p>Date d'envoi</p>
  </div>
  <div class="content">
    <%= form_for @campaign do |f| %>
      <%= f.text_field :start_on, class: 'main date', autofocus: true, onfocus: "this.value = this.value;", placeholder: "22 avril 2017" %>
      <p>Heure d'envoi</p>
      <%= f.text_field :start_on, class: 'main time', onfocus: "this.value = this.value;", placeholder: "13" %>
      <span>:</span>
      <%= f.text_field :start_on, class: 'main time', onfocus: "this.value = this.value;", placeholder: "15" %>
      <span class="timezone">Central European Time</span>
      <%= link_to "Modifier", root_path, class: "modify" %>
    <% end %>
  </div>
</div>

<div class="wrapper schedule links">
  <input type="submit" form="new_contact" class="button green schedule" value="Planifier la campagne">
  <a onclick="window.history.back()" class="cancel">Annuler</a>
</div>
