<header class="campaign">
  <div class="left">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "icon.svg", class: "icon"  %>
          <% end %>
        </li>
        <li><%= @campaign.name %></li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li><%= link_to "Aide", root_path, class: "help" %></li>
        <li><%= link_to "Tester", root_path, class: "help" %></li>
        <li><%= link_to "Enregistrer et quitter", root_path, class: "save" %></li>
      </ul>
    </nav>
  </div>
</header>

<%= render 'shared/preview-content' %>

<div class="wrapper schedule">
  <div class="top">
    <%= image_tag "time.svg" %>
    <h2>Planifier</h2>
    <p>Date d'envoi</p>
  </div>

  <div class="content">

  <%= form_for @campaign, :url => url_for(:controller => 'campaigns', :action => 'schedule'), :method => 'post' do %>
    <input type="hidden" name="campaign[current_step]" value="step_3" />
    <input data-toggle="datepicker" name="campaign[scheduled_at]" class="main date" placeholder="Sélectionner une date" value="<%= @day %>">
    <p>Heure d'envoi</p>
    <input type="number" name="campaign[start_hour]" min="0" max="23" class="main time" placeholder="13" value="<%= @start_hour %>" />
    <span>:</span>
    <input type="number" name="campaign[start_min]" min="0" max="59" class="main time" placeholder="15" value="<%= @start_min %>" />
    <span id="user_timezone"></span>
    <input type="hidden" id="campaign[tz]" name="campaign[tz]" value="" />
  <% end %>

  </div>
</div>

<div class="wrapper schedule links">
  <input type="submit" form="edit_campaign_<%= @campaign.id %>" class="button green schedule" value="Planifier la campagne">
  <a href="<%= preview_campaign_path(@campaign) %>" class="cancel">Annuler</a>
</div>

<div class="bottom fixed">
  <div class="links-left">
    <a onclick="window.history.back()" class="button grey previous">Précédent</a>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Destinataires", name_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li><%= link_to "Message", message_campaign_path(@campaign.id), class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li><%= link_to "Résumé", preview_campaign_path(@campaign.id), class: "current" %></li>
    </ul>
  </nav>
</div>
