<!DOCTYPE html>
<html>
  <head>
    <title>SmsCampaign</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  </head>

  <body>
    <% if current_page?('/') %>
      <%= render 'shared/navbar-home' %>
    <% elsif params[:controller] == 'campaigns' %>
      <%= render 'shared/navbar-campaign' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
